.page-home {
  float: left;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  position: absolute; }
  .page-home nav {
    display: none; }
  .page-home #loginLink {
    position: absolute;
    right: 80px;
    top: 30px; }
    .page-home #loginLink:link {
      color: darkgreen;
      text-decoration: none; }
    .page-home #loginLink:hover {
      color: darkcyan; }
  .page-home .title {
    position: fixed;
    margin: 25px 15px;
    color: white;
    font-size: 30px;
    line-height: 95%;
    font-family: "Montserrat";
    text-align: center;
    width: 15%;
    float: left;
    font-weight: 600;
    letter-spacing: 4px; }
  .page-home .align {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box; }
    .page-home .align .wrap-buttons {
      height: 200px;
      width: 200px;
      position: relative;
      overflow: hidden;
      margin: 2px auto; }
      .page-home .align .wrap-buttons .wrapper {
        margin: auto;
        bottom: 20px;
        position: absolute;
        left: 75px;
        opacity: 0.5; }
        .page-home .align .wrap-buttons .wrapper.bottom:hover, .page-home .align .wrap-buttons .wrapper.left:hover, .page-home .align .wrap-buttons .wrapper.top:hover, .page-home .align .wrap-buttons .wrapper.right:hover {
          cursor: pointer; }
        .page-home .align .wrap-buttons .wrapper.left {
          bottom: 82px;
          left: 0; }
        .page-home .align .wrap-buttons .wrapper.top {
          position: relative;
          left: 14px;
          bottom: 52px; }
        .page-home .align .wrap-buttons .wrapper.right {
          position: relative;
          right: 0;
          top: 88px; }
        .page-home .align .wrap-buttons .wrapper.triangle {
          background: url("/static/media/net.jpg");
          text-align: left; }
        .page-home .align .wrap-buttons .wrapper.triangle:before, .page-home .align .wrap-buttons .wrapper.triangle:after {
          content: '';
          position: absolute;
          background: inherit; }
        .page-home .align .wrap-buttons .wrapper.triangle, .page-home .align .wrap-buttons .wrapper.triangle:before, .page-home .align .wrap-buttons .wrapper.triangle:after {
          background-position-x: -14px;
          background-position-y: -18px;
          width: 55px;
          height: 55px;
          border-top-right-radius: 30%; }
        .page-home .align .wrap-buttons .wrapper.triangle {
          transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap-buttons .wrapper.triangle.left {
            transform: rotate(-90deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap-buttons .wrapper.triangle.top {
            transform: rotate(0deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap-buttons .wrapper.triangle.right {
            transform: rotate(90deg) skewX(-30deg) scale(1, 0.866); }
        .page-home .align .wrap-buttons .wrapper.triangle:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%); }
        .page-home .align .wrap-buttons .wrapper.triangle:after {
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%); }
    .page-home .align .container {
      border-radius: 5%; }
      .page-home .align .container.right, .page-home .align .container.left, .page-home .align .container.top, .page-home .align .container.bottom {
        background-color: rgba(22, 43, 45, 0.6);
        visibility: hidden; }
        .page-home .align .container.right:hover, .page-home .align .container.left:hover, .page-home .align .container.top:hover, .page-home .align .container.bottom:hover {
          cursor: pointer; }
      .page-home .align .container.right, .page-home .align .container.left {
        width: 400px;
        height: 250px; }
      .page-home .align .container.left {
        position: absolute;
        left: -400px;
        top: 25px; }
      .page-home .align .container.top, .page-home .align .container.bottom {
        width: 400px;
        height: 200px;
        position: absolute;
        left: -50px; }
      .page-home .align .container.top {
        top: -200px; }
      .page-home .align .container.bottom {
        top: 300px; }
      .page-home .align .container .container-box {
        width: 100%;
        height: 100%;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        padding: 10px 0; }
        .page-home .align .container .container-box .item-box {
          opacity: 1;
          background-color: rgba(68, 68, 68, 0.6);
          color: #fff;
          border-radius: 5%;
          padding: 5px;
          height: 100%;
          width: 100%;
          object-fit: fill; }
  .page-home .border-lines-holder {
    position: fixed;
    left: 50px;
    top: 50px;
    bottom: 50px;
    right: 50px; }
    .page-home .border-lines-holder .border-lines {
      position: absolute;
      background-color: #fff; }
      .page-home .border-lines-holder .border-lines.left-top, .page-home .border-lines-holder .border-lines.right-bottom {
        width: 110px;
        height: 5px; }
      .page-home .border-lines-holder .border-lines.left-side, .page-home .border-lines-holder .border-lines.right-side {
        width: 5px;
        height: 110px; }
      .page-home .border-lines-holder .border-lines.right-side, .page-home .border-lines-holder .border-lines.right-bottom {
        bottom: 0;
        right: 0; }

/*# sourceMappingURL=home.css.map */
