.page-home {
  float: left;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  position: absolute; }
  .page-home #title {
    margin: 20px 45px;
    color: cyan;
    font-size: 30px;
    line-height: 25px;
    font-family: "Montserrat";
    text-align: center;
    width: 15%;
    float: left;
    font-weight: 600;
    letter-spacing: 4px; }
  .page-home .align {
    position: fixed;
    width: 300px;
    height: 300px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box; }
    .page-home .align .wrap {
      height: 200px;
      width: 200px;
      position: relative;
      overflow: hidden;
      margin: 2px auto; }
      .page-home .align .wrap .aligningPoint {
        background: brown;
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 95px;
        left: 95px;
        z-index: 99999; }
      .page-home .align .wrap .overlap-wrapper button.homeButton.videos {
        overflow: hidden; }
      .page-home .align .wrap .wrapper {
        margin: auto;
        bottom: 20px;
        position: absolute;
        left: 75px;
        opacity: 0.5; }
        .page-home .align .wrap .wrapper.bottom:hover, .page-home .align .wrap .wrapper.left:hover, .page-home .align .wrap .wrapper.top:hover, .page-home .align .wrap .wrapper.right:hover {
          opacity: 1; }
        .page-home .align .wrap .wrapper.left {
          bottom: 87px;
          left: 0; }
        .page-home .align .wrap .wrapper.top {
          position: relative;
          left: 12px;
          bottom: 52px; }
        .page-home .align .wrap .wrapper.right {
          position: relative;
          right: 0;
          top: 88px; }
        .page-home .align .wrap .wrapper.triangle {
          background: url("/static/media/net.jpg");
          text-align: left; }
        .page-home .align .wrap .wrapper.triangle:before, .page-home .align .wrap .wrapper.triangle:after {
          content: '';
          position: absolute;
          background: inherit; }
        .page-home .align .wrap .wrapper.triangle, .page-home .align .wrap .wrapper.triangle:before, .page-home .align .wrap .wrapper.triangle:after {
          background-position-x: -14px;
          background-position-y: -18px;
          width: 50px;
          height: 50px;
          border-top-right-radius: 30%; }
        .page-home .align .wrap .wrapper.triangle {
          transform: rotate(-60deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap .wrapper.triangle.left {
            transform: rotate(-90deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap .wrapper.triangle.top {
            transform: rotate(0deg) skewX(-30deg) scale(1, 0.866); }
          .page-home .align .wrap .wrapper.triangle.right {
            transform: rotate(90deg) skewX(-30deg) scale(1, 0.866); }
        .page-home .align .wrap .wrapper.triangle:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%); }
        .page-home .align .wrap .wrapper.triangle:after {
          transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%); }
    .page-home .align .container.right, .page-home .align .container.left, .page-home .align .container.top, .page-home .align .container.bottom {
      background: #162b2d;
      opacity: 0.5;
      visibility: hidden; }
    .page-home .align .container.right, .page-home .align .container.left {
      width: 400px;
      height: 250px; }
    .page-home .align .container.left {
      position: absolute;
      left: -400px;
      top: 25px; }
    .page-home .align .container.top, .page-home .align .container.bottom {
      width: 400px;
      height: 200px;
      position: absolute;
      left: -50px; }
    .page-home .align .container.top {
      top: -200px; }
    .page-home .align .container.bottom {
      top: 300px; }

/*# sourceMappingURL=home.css.map */
