// general template

div(class="menu-banner")
    ul(class="menu-items")
        //dynamically loading
        li(class="menu-option")
        //li Projects
        //li Before & After
        //li Templates & Project Files
        //li Behind the Scenes
        //li Contact us

div(class="categories-container")
    ul(class="categories")
        li(class="category-box")
        //dynamically loading
