<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")

        script(src="/scripts/jquery")
        script(src="/static/scripts/main.js")

        title
            block app-title

        link(rel="stylesheet", href="/static/styles/css/main.css")
        link(rel="stylesheet", href="/static/styles/css/home.css")
        link(rel="stylesheet", href="/static/styles/css/sidebar.css")
        link(rel="stylesheet", href="/static/styles/css/categories-layout.css")
        link(rel="stylesheet", href="/static/styles/css/columnar-layout.css")

    block vars
        - var bodyClass = '';

    body(class='page-' + bodyClass)
        nav

        block content

        block specificJs
