<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")

        script(src="/scripts/jquery")
        script(src="/static/scripts/main.js")

        title
            block app-title

            block vars
    body
        nav

        block content

        block specificJs
