extends _layout

block app-title
    | AquatoriaDesigns

block vars
    - var profileLink = 'profile';
    - var bodyClass = 'home';

block content
    #homepage-cover

            div
                h2#title Aquatoria Designs
                if !user
                    a#loginLink(href="/login") Login or Register

            div.align
                if user
                    a(href="/" + profileLink) Profile
                .wrap-buttons
                    div.wrapper.triangle.bottom
                    div.wrapper.triangle.left
                    div.wrapper.triangle.right
                    div.wrapper.triangle.top
                    //span.bottom-category Videos

                div.container.right
                    span.img-box
                    span.img-box
                    span.img-box
                    span.img-box
                div.container.left
                    span.img-box
                    span.img-box
                    span.img-box
                    span.img-box
                div.container.top
                    span.img-box
                    span.img-box
                    span.img-box
                    span.img-box
                div.container.bottom
                    span.img-box
                    span.img-box
                    span.img-box
                    span.img-box


block specificJs
    script(src="/static/scripts/home.js")

