extends _layout

block app-title
    | AquatoriaDesigns

block vars
    - var photosLink = '/items/photos';
    - var musicLink = 'music';
    - var videosLink = 'videos';
    - var designLink = 'photos';

    - var profileLink = 'profile';

    - var bodyClass = 'home';



block content
    #homepage-cover

            div
                h2#title Aquatoria Designs
                if !user
                    a(href="/login") Login or Register

            span.align
                if user
                    a(href="/" + profileLink) Profile
                .wrap
                    div.aligningPoint

                    div.wrapper.triangle.bottom(onclick="location.href='" + photosLink + "';"
                                                style="cursor:pointer;")
                    //span Videos
                    div.wrapper.triangle.left
                    div.wrapper.triangle.right(onclick="location.href='" + '/home' + "';"
                                                style="cursor:pointer;")
                    div.wrapper.triangle.top(onclick="location.href='" + '/home' + "';"
                                                style="cursor:pointer;")

                div.container.right
                div.container.left
                div.container.top
                div.container.bottom

                    //    span Music
                    //    span.rotate-opposite Design
                //a.homeButton(href= "/" + photosLink) Photos
                //a.homeButton(href="/" + videosLink) Videos
                //a.homeButton(href="/" + musicLink) Music
                //a(href="/" + designLink) Design

block specificJs
    script(src="/static/scripts/home.js")

