extends _layout

block app-title
    | AquatoriaDesigns

block vars
    - var photosLink = 'items/photos';
    - var musicLink = 'music';
    - var videosLink = 'videos';
    - var designLink = 'photos';

    - var profileLink = 'profile';



block content
    div
        h2 Aqua
    div
        if user
            a(href="/" + profileLink) Profile
        a(href= "/" + photosLink) Photos
        a(href="/" + videosLink) Videos
        a(href="/" + musicLink) Music
        //a(href="/" + designLink) Design
        br
        if !user
            a(href="/login") Login or Register

