extends _layout

block app-title
    | AquatoriaDesigns

block vars
    - var profileLink = 'profile';
    - var bodyClass = 'home';
    - var demoPictures = [{url: '/static/media/cover1.jpg'}, {url: '/static/media/cover2.jpg'}, {url: '/static/media/cover3.jpg'}, {url: '/static/media/cover4.jpg'} ];
    - var demoDesigns = [{url: '/static/media/cover1.jpg'}, {url: '/static/media/cover2.jpg'}, {url: '/static/media/cover3.jpg'}, {url: '/static/media/cover4.jpg'} ];


block content
    //  homepage-slide <- only options for centering
    div.homepage-cover
        div.homepage-cover.blured.first
        //div.homepage-cover.blured.second
        //div.homepage-cover.blured.first
        //div.homepage-cover.blured.first

    div.border-lines-holder
        div.border-lines.left-top
        div.border-lines.left-side
        div.border-lines.right-side
        div.border-lines.right-bottom

        h2.title Aquatoria Designs

    div
        if !user
            a#loginLink(href="/login") Login or Register

    div.align
        if user
            a(href="/" + profileLink) Profile
        .wrap-buttons
            div.wrapper.triangle.bottom
            div.wrapper.triangle.left
            div.wrapper.triangle.right
            div.wrapper.triangle.top
            //span.bottom-category Videos

        div.container.right
            div#rightContainer.container-box
                each picture in demoPictures
                    img.item-box(src=picture.url)

        div.container.left
            div#leftContainer.container-box
                each design in demoDesigns
                    img.item-box(src=design.url)

        div.container.top
            div#topContainer.container-box
                span.item-box
                span.item-box
                span.item-box
                span.item-box

        div.container.bottom
            div#bottomContainer.container-box
                span.item-box
                span.item-box
                span.item-box
                span.item-box


block specificJs
    script(src="/static/scripts/home/home-buttons.js")
    script(src="/static/scripts/home/slideshow.js")
    //script(src="/static/scripts/home/load-demo-items.js")

