extends ../_layout

block app-title
    | Login | AquatoriaDesign

block content
    script.
        console.log('template loaded')

    h1
        strong Login or Register in our site

    h3 Login to our site
    p Enter email and password to log on:
    p You don't have an account?
        a(href="/register")
            strong REGISTER NOW

    span(id="error-container")
        ul
            form(role="form" action="" method="post" id="user-login-form")

                label(for="form-email") Email
                input(type="email" name="email" placeholder="Email@" id="form-email")

                label(for="form-password") Password
                input(type="password" name="password" placeholder="Password" id="form-password")

                button(type="submit" id="login-button") Sign in


    //h3 ... or login with
    //    div
    //        a(href="/auth/facebook") | Facebook
    //    div
    //        a(href="/auth/google") | Google

    block specificJs
        script(src="/static/scripts/utils/validator.js")
        script(src="/static/scripts/user/login.js")
