div#player.player
    //div.player-artist
    //div.player-controls
    //    a(href="#") volume
    //        i.icon-volume
    //    a(href="#")
    //        i.icon-fast-backward
    //    a(href="#")
    //        i.icon-play.play
    //    a(href="#")
    //        i.icon-fast-forward
    ////progress bar
    //div.player-tracking

    audio(controls)
        source(src="/static/media/neshto.mp3" type="audio/mpeg")