ul.categories.shrinked {

  margin: 10px auto;
  width: 50%;
  //TODO
  z-index: 10;

  li {
    display: inline;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 15px;
    background-color: #1b6d85;
    color: white;
    font-size: 15px;


    &:hover {
      cursor: pointer;
      background-color: #28A1C4;
    }
  }
}

.page-photography {
  .categories.full {

    //flex
    display: flex;
    flex-wrap: wrap;

    li {
      background-color: #1b6d85;
      color: white;
      font-size: 15px;
      background-size: cover;
      //flex
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
      padding: 0 10px;
      margin-bottom: 40px;

      span {
        display: block;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        height: 100%;
        padding: 25%;

        &.category-name {
          background: transparent;

        }

        &.category-cover {
          background: teal;
        }
      }

      .item {

        img {

        }

        &:hover img {

        }
      }

      &:hover {
        cursor: pointer;
        background-color: #28A1C4;
      }
    }
  }
}

