$triangle-btn-height: 55px;
$triangle-btn-width: 55px;
$align-buttons-box-width: 300px;
$align-buttons-box-height: 300px;
$wrap-buttons-width: 200px;
$wrap-buttons-height: 200px;
$container-background: #162b2d;
$side-container-width: 400px;
$side-container-height: 250px;
$top-bottom-container-width: 400px;
$top-bottom-container-height: 200px;
$container-border-radius: 5%;


.page-home {
  float: left;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  position: absolute;

  #loginLink {
    position: absolute;
    right: 80px;
    top: 30px;

    &:link {
      color: darkgreen;
      text-decoration: none;
    }

    &:hover {
        color: darkcyan;
    }
  }

  #title {
    margin: 20px 45px;
    color: rgb(0, 255, 255);
    font-size: 30px;
    line-height: 25px;
    font-family: "Montserrat";
    text-align: center;
    width: 15%;
    float: left;
    font-weight: 600;
    //font-style: normal;
    //text-shadow: none;
    letter-spacing: 4px;
    //text-transform: uppercase;
    //animation-duration: 1.5s;
    //animation-delay: 2s;
    //animation-iteration-count: 1;
  }

  .align {
    position: fixed;
    width: $align-buttons-box-width;
    height: $align-buttons-box-height;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    //margin-top: -100px; /* Negative half of height. */
    //margin-left: -250px; /* Negative half of width. */


    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;

    .wrap-buttons {
      height: $wrap-buttons-height;
      width: $wrap-buttons-width;
      position: relative;
      overflow: hidden;
      margin: 2px auto;

      .wrapper {
        margin: auto;
        bottom: 20px;
        position: absolute;
        left: 75px;
        opacity: 0.5;

        &.bottom,
        &.left,
        &.top,
        &.right {
          &:hover {
            opacity: 1;
          }
        }

        &.bottom {

        }

        &.left {
          bottom: 87px;
          left: 0;
        }

        &.top {
          position: relative;
          left: 12px;
          bottom: 52px;
        }

        &.right {
          position: relative;
          right: 0;
          top: 88px;
        }

        &.triangle {
          background: url('/static/media/net.jpg');
          text-align: left;
        }

        &.triangle:before,
        &.triangle:after {
          content: '';
          position: absolute;
          background: inherit;
        }

        &.triangle,
        &.triangle:before,
        &.triangle:after {
          background-position-x: -14px;
          background-position-y: -18px;

          width: $triangle-btn-width;
          height: $triangle-btn-height;
          border-top-right-radius: 30%;

          //filter: hue-rotate(132deg);
          //filter: drop-shadow(8px 8px 10px red);
        }

        &.triangle {
          transform: rotate(-60deg) skewX(-30deg) scale(1, .866);

          &.left {
            transform: rotate(-90deg) skewX(-30deg) scale(1, .866);
          }

          &.top {
            transform: rotate(0deg) skewX(-30deg) scale(1, .866);
          }

          &.right {
            transform: rotate(90deg) skewX(-30deg) scale(1, .866);
          }
        }

        &.triangle:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
        }

        &.triangle:after {
          transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
        }

      }
    }

    .container {

      display: inline-grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
      padding: 5px;
      border-radius: $container-border-radius;

      &.right,
      &.left,
      &.top,
      &.bottom  {
        background: $container-background;
        opacity: 0.5;
        //visibility: hidden;



      }

      &.right,
      &.left {
        width: $side-container-width;
        height: $side-container-height;
      }

      &.left {
        position: absolute;
        left: - $side-container-width;
        top: ($align-buttons-box-height - $side-container-height) / 2;
      }

      &.top,
      &.bottom {
        width: $top-bottom-container-width;
        height: $top-bottom-container-height;
        position: absolute;
        left: - ($align-buttons-box-height / 2 - $top-bottom-container-height / 2);
      }

      &.top {
        top: - $top-bottom-container-height;
      }

      &.bottom {
        top: $align-buttons-box-height;
      }

      .img-box {
        background-color: #444;
        color: #fff;
        border-radius: $container-border-radius;
        padding: 2px;
        margin: 2px;
      }

    }
  }
}





