.page-home {
  float: left;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  margin: 0;
  position: absolute;

  #title {
    margin: 20px 45px;
    color: rgb(0, 255, 255);
    font-size: 30px;
    line-height: 25px;
    font-family: "Montserrat";
    text-align: center;
    width: 15%;
    float: left;
    font-weight: 600;
    //font-style: normal;
    //text-shadow: none;
    letter-spacing: 4px;
    //text-transform: uppercase;
    //animation-duration: 1.5s;
    //animation-delay: 2s;
    //animation-iteration-count: 1;
  }

  .align {
    position: fixed;
    width: 500px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */

    //position: fixed;
    //width: 500px;
    //height: 200px;
    //margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    //left: 0;
    //right: 0;

    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;

    .wrap {
      height: 200px;
      width: 200px;
      position: relative;
      overflow: hidden;
      margin: 2px auto;

      .aligningPoint {
        background: brown;
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 95px;
        left: 95px;
        z-index: 99999;
      }

      .overlap-wrapper {
        button.homeButton.videos {
          overflow: hidden;
        }
      }

      .wrapper {

        margin: auto;
        bottom: 20px;
        position: absolute;
        left: 75px;

        //background-position-x: -14px;
        //background-position-y: -18px;

        &.bottom {

        }

        &.left {
          bottom: 87px;
          left: 0;
        }

        &.up {
          position: relative;
          left: 12px;
          bottom: 52px;
        }

        &.right {
          position: relative;
          right: 0;
          top: 88px;
        }

        &.triangle {

          background-position-x: -14px;
          background-position-y: -18px;
          //position: relative;
          background: url('/static/media/net.jpg');;
          text-align: left;
        }
        &.triangle:before,
        &.triangle:after {

          //background-position-x: -14px;
          //background-position-y: -18px;
          content: '';
          position: absolute;
          background: inherit;
        }
        &.triangle,
        &.triangle:before,
        &.triangle:after {

          background-position-x: -14px;
          background-position-y: -18px;
          width: 50px;
          height: 50px;
          border-top-right-radius: 30%;
        }

        &.triangle {

          transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
          &.left {
            transform: rotate(-90deg) skewX(-30deg) scale(1, .866);
          }

          &.up {
            transform: rotate(0deg) skewX(-30deg) scale(1, .866);
          }

          &.right {
            transform: rotate(90deg) skewX(-30deg) scale(1, .866);
          }

        }
        &.triangle:before {
          transform: rotate(-135deg) skewX(-45deg) scale(1.414, .707) translate(0, -50%);
        }
        &.triangle:after {
          transform: rotate(135deg) skewY(-45deg) scale(.707, 1.414) translate(50%);
        }

      }

      /*

      // this makes the form with borders
      // the last one - with overflow: hidden

      .homeButton {

        overflow: hidden;

        // button shape by borders
        //width: 0;
        //height: 0;
        //border-left: 50px dashed transparent;
        //border-right: 50px dashed transparent;
        //border-bottom: 60px dashed #ccc;
        //border-top: 0;
        //margin: -2px -45px;
        //transition: margin .2s ease, border .2s ease;
        //position: absolute;
        //z-index: 1;
        //padding: 0;
        //background: transparent;
        //
        //border-radius: 3px;
        //
        //margin: auto;
        //
        //bottom: 0;

        left: 50px;

        position: absolute;
        height: 70%;
        width: 70%;
        background: url('/static/media/net.jpg');
        transform-origin: bottom left;
        bottom: 0;
        transition: all 0.6s;
        left: 2px;
        //left: 0;
        cursor: pointer;
        transform: rotate(45deg);

        text-align: center;
        vertical-align: middle;

        &.photos {
          //transform: rotate(90deg);
          transform-origin: bottom right;
          right: 0;
          transform: rotate(45deg);
          bottom: 0;
          left: 30%;

          //transform-origin: top right;
          //right: 2px;
          //transform: rotate(-45deg);
          //top: 2px;
          //left: 30%;
        }

        &.wrap.music {
          transform-origin: bottom left;

          transform: rotate(-180deg);
          top: 0;
          left: 152px;
          margin: 0;

        }

        &.wrap.design {
          transform-origin: bottom right;

          transform: rotate(90deg);
          bottom: 20px;
          left: -65px;
        }

        //span {
        //  display: inline-block;
        //  transform: rotate(-45deg);
        //
        //  &.rotate-opposite {
        //    transform: rotate(45deg);
        //  }
        //}

      }
*/
      /*
              position: absolute;
              height: 70%;
              width: 70%;
              background: url('/static/media/cover.jpg');
              transform-origin: bottom left;
              bottom: 0;
              transition: all 0.6s;
              left: 2px;
              //left: 0;
              cursor: pointer;
              transform: rotate(45deg);

              text-align: center;
              vertical-align: middle;

              &.photos {
                //transform: rotate(90deg);
                transform-origin: bottom right;
                right: 0;
                transform: rotate(45deg);
                bottom: 0;
                left: 30%;

                //transform-origin: top right;
                //right: 2px;
                //transform: rotate(-45deg);
                //top: 2px;
                //left: 30%;
              }

              &.design {
                transform: rotate(-45deg);

                span {
                  transform: rotate(45deg);
                }
              }

              &.music {
                transform-origin: top right;
                right: 0;
                transform: rotate(45deg);
                top: 0;
                left: 30%;
              }

              span {
                display: inline-block;
                transform: rotate(-45deg);

                &.rotate-opposite {
                  transform: rotate(45deg);
                }
              }
      */
    }

  }
}





