@import 'mixins.scss';

html {
    /*background: url('/static/media/cover.jpg') no-repeat center center fixed;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

body {
    margin: 0;
    float: left;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.homepage-cover {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    transform: scale(1.02); // removes border
}

.blured {
    @include blur;
}
